html, body {
	height: 100%;
	min-height: 100vh;
	font-size: 105% !important;
	scroll-behavior: smooth;
}

/* Navigation Bar */
#nav {
	font-size: 1.5em !important;
	/* position: absolute!important; */
	z-index: 1 !important;
}

/* Article container */
article {
	padding-top: 2em !important;
}

/* External Player */
#stream-window {
	display: inline-block;
	width: 100%;
	min-width: 400px;
	min-height: 225px;
	aspect-ratio: 16/9;
}
#chat-window {
	display: inline-block;
	width: 100%;
	min-width: 400px;
	max-width: 500px;
	height: 100vh;
	min-height: 400px !important;
}
@media only screen and (min-width: 1000px) {
	#stream-window {
		width: calc(100% - 500px);
	}
}

/* Stream Preview Image */
.preview {
	display: block;
	vertical-align: top;
	width: 100%;
	max-width: 853px;
	max-height: 480px;
	aspect-ratio: 16/9;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Button Container */
.buttons-outer {
	display: block;
	width: 100%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 853px;
}
.buttons-inner {
	display: flex;
	width: 100%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 830px;
}

/* Buttons */
.button {
	display: inline-block;
	margin: 3px;
	width: 100%;
	text-align: center;
	background-color: #5a03b9 !important;
}
.button:hover {
	background-color: #8144c4 !important;
}
.button-img {
	width: 100%;
	max-height: calc(80px - 53.15px);
	color: #fff;
}
#button-reload {
	color: #fff;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* DarkMode */
@media (prefers-color-scheme: dark) {
	html {
		background: #111;
		color: #eee;
	}
	nav {
		background: #000 !important;
		color: #fff;
	}
	h1, h2, h3, h4, h5, h6, p, strong {
		color: #ddd !important;
	}
}
/* Blinking dot */
.pulse { 
	animation: 2s blink infinite; 
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

